footer.footer
    .container.has-text-centered
        .p.title.is-5 This API was developed by 
            a(href="https://twitter.com/codevars") @codevars 
            | for an amazing 
            a(href="https://platzi.com/") Platzi course 💚