nav.navbar(role="navigation" aria-label="main navigation")
    .navbar-menu
        .navbar-start
            p.navbar-item.title GameStream
            a(href="/").navbar-item Games
            a(href="/api-docs").navbar-item Docs