nav.navbar(role="navigation" aria-label="main navigation")
    .navbar-menu
        .navbar-start
            p.navbar-item.title GameStream
            a.navbar-item Games
            a.navbar-item Docs