nav.navbar(role="navigation" aria-label="main navigation")
    .navbar-brand 
        .navbar-item
            img(src="images/logo.svg" width="30px")
        a.navbar-burger(role="button" aria-label="menu" aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    .navbar-menu
        .navbar-start
            p.navbar-item.title.m-0 Game Stream
            a(href="/").navbar-item Games
            a(href="/api-docs").navbar-item Docs