.game {
    width: 100%;
    min-width: 320px;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(320px,480px) minmax(480px, 1fr);
    column-gap: 2rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));
    gap: 2rem;
}

@media screen and (max-width: 720px) {
    .game{
        grid-template-columns: 1fr;
    }
}